.label {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  margin: auto;
  font-size: 14px;
  margin-left: auto;
  justify-content: center;
  justify-items: start;
  align-items: center;
}

.input {
  width: 100%;
  font-size: 14px;
  justify-content: center;
  border: 1px solid #ff6b0a;
}
